{% extends "structure.html" %}

  {% block content %}

  <style>
	.link {
	  stroke: #fff;
	  stroke-opacity: 0.5;
	  stroke-width: 2;
	}
	button {
	  border: 1px solid #000;
	  background:#fff;
	  color:#007;
	  font:bold 12px Verdana;
	  padding:3px;
	  margin:0 0 0 4px;
	  transition-duration:0.4s;
	}
	button:hover{
	  cursor:pointer;
	  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24), 0 4px 6px 0 rgba(0,0,0,0.19);
	}
	h2,h3,h4{
	  color:#007;
	}
	figcaption{
		text-align:center;
	}
	figure{
		margin:0 0 0 0;
	}
  </style>
  <h1>{{title}}</h1>
  <hr>
  <div>
	<h2 >Introduction</h2>
	<p>Lorsque l'on s'intéresse à l'analyse de réseau, il peut être pertinent de chercher à identifier des communautés au sein de ce réseau. Pour commencer, voici la composante connexe principale de notre graphe des acteurs. Dans la suite, nous allons tenter d'extraire et de visualiser des informations à partir de ce réseau.</p>
	<figure>
		<img src="../static/images/main.png" alt="Réseau social des acteurs francophones" width=960 />
		<figcaption>Figure 1 : Composante principale du réseau des acteurs</figcaption>
	</figure>
	<p>Pour construire cette visualisation, nous avons mappé le degré des sommets sur la taille des cercles, puis appliqué l'algorithme <code>FM^3</code> pour la visualisation, en prenant compte le nombre de rencontres entre les acteurs.</p>
	<h2>Détection de communautés</h2>
	<p>Il existe de nombreuses méthodes pour détecter les communautés dans un réseau. Une des plus connues est l'algorithme Louvain, notamment grâce à son efficacité. Cependant, si on l'appliquait naïvement sur le graphe précédent, à moins de le paramétrer en connaissance de causes, l'algorithme détécterait un nombre de communauté ne permettant d'en tirer quelconque information.</p>
	<h3>Méthode algorithmique</h3>
	<p>Pour réduire le nombre d'acteurs et ainsi réduire le &laquo;&nbsp;bruit&nbsp;&raquo; sur lequel on applique les algorithmes, nous avons filtré la composante connexe principale en choisissant uniquement les acteurs ayant un degré strictement supérieur à 80.</p>
	<figure>
		<img src="../static/images/degSup80.png" alt="Réseau social des acteurs ayant un degré de plus de 80" width=960 />
		<figcaption>Figure 2 : Réseau social des acteurs ayant un degré de plus de 80</figcaption>
	</figure>
	<p>On reconnaît bien la forme du précédent graphe, donc dans un certain sens, la cohérence du réseau devrait être intacte. Maintenant que le nombre d'acteurs a diminué, on applique l'algorithme Louvain, puis on colore les différentes communautés pour les distinguer. Dans notre cas, il en détecte sept.</p>
	<figure>
		<img src="../static/images/degSup80Color.png" alt="Réseau social coloré des acteurs ayant un degré de plus de 80" width=960 />
		<figcaption>Figure 3 : Réseau social coloré par communauté des acteurs ayant un degré de plus de 80</figcaption>
	</figure>
	<p>Les communautés sont tellement interconnectées que les communautés se chevauchent. Même en appliquant d'autres algorithmes d'affichage, il est difficile d'interpréter le résultat. Cependant, on peut s'intéresser aux sous-graphes correspondant à chacune des communautés. Voici un diaporama des communautés ainsi identifiées par Louvain où l'on a affiché le nom des acteurs principaux.</p>
	<figure>
		<img src="../static/images/viewMetric0.png" alt="Première communauté identifiée par Louvain avec acteurs principaux" width=960 />
		<figcaption>Figure 4 : Première communauté identifiée par Louvain avec acteurs principaux</figcaption>
	</figure>
	<br><br>
	<figure>
		<img src="../static/images/viewMetric1.png" alt="Première communauté identifiée par Louvain avec acteurs principaux" width=960 />
		<figcaption>Figure 5 : Deuxième communauté identifiée par Louvain avec acteurs principaux</figcaption>
	</figure>
	<br><br>
	<figure>
		<img src="../static/images/viewMetric2.png" alt="Première communauté identifiée par Louvain avec acteurs principaux" width=960 />
		<figcaption>Figure 6 : Troisième communauté identifiée par Louvain avec acteurs principaux</figcaption>
	</figure>
	<br><br>
	<figure>
		<img src="../static/images/viewMetric3.png" alt="Première communauté identifiée par Louvain avec acteurs principaux" width=960 />
		<figcaption>Figure 7 : Quatrième communauté identifiée par Louvain avec acteurs principaux</figcaption>
	</figure>
	<br><br>
	<figure>
		<img src="../static/images/viewMetric4.png" alt="Première communauté identifiée par Louvain avec acteurs principaux" width=960 />
		<figcaption>Figure 8 : Cinquième communauté identifiée par Louvain avec acteurs principaux</figcaption>
	</figure>
	<br><br>
	<figure>
		<img src="../static/images/viewMetric5.png" alt="Première communauté identifiée par Louvain avec acteurs principaux" width=960 />
		<figcaption>Figure 9 : Sixième communauté identifiée par Louvain avec acteurs principaux</figcaption>
	</figure>
	<br><br>
	<figure>
		<img src="../static/images/viewMetric6.png" alt="Première communauté identifiée par Louvain avec acteurs principaux" width=960 />
		<figcaption>Figure 10 : Septième communauté identifiée par Louvain avec acteurs principaux</figcaption>
	</figure>
	<br><br>
	<p>On remarque certaines incohérences dans les communautés précédentes. Par exemple, Eric Judor (dans la communauté 7) n'appartient pas à la même communauté que Ramzy Bedia (dans la communauté 5), alors qu'il s'agit d'un duo emblématique du cinéma français.</p>
	<figure>
		<img style="border-radius:20px; margin-bottom:0.5em;" src="../static/images/quotient.png" alt="Graphe quotient des communautés" width=960 />
		<figcaption>Figure 11 : Graphe quotient des communautés</figcaption>
	</figure>
	<br><br>
	<p>On voit que le graphe quotient est complet, c'est-à-dire qu'il existe des liens entre toutes les communautés. Ce n'est donc pas surprenant qu'il y est quelques incohérences telles que celle décrite plus haut. Dans la suite, nous allons vous présenter une méthode directe pour identifier des communautés naïves dans le réseau.</p>
	<h3>Méthode directe</h3>
	<p>On peut d'une façon naïve qu'un groupe forme une communauté (dans le sens d'une troupe) dès qu'ils ont joué plus qu'un certain nombre de fois ensemble. Ce choix est arbitraire mais il peut être déterminé par le nombre de troupes souhaité, leurs tailles minimales etc. En l'occurence, on souhaite voir les duos du cinéma francophone en plus des groupes plus importants, donc on ne va pas filtrer selon la taille de la communauté mais plutôt du nombre minimum de films en commun. Pour obtenir le résultat suivant, nous avons simplement filtré le réseau social de départ en ne gardant que les arêtes de poids&nbsp;>&nbsp;5, c'est-à-dire les liens entre acteurs ayant joué au moins 5 fois ensemble.</p>
	</div>
  <figure>
  <div style="color:white; background-color:#007; border-radius:20px; margin-bottom:0.5em;" id="nodelink2" class="svg-container"></div>
  <figcaption>Figure 12 : Troupes du cinéma francophone</figcaption>
  </figure>
  <p>Bien que très naïve, cette approche permet de mettre en évidence certaines communautés d'acteurs qui ont beaucoup joué ensemble, comme Eric & Ramzy, Le Splendid ou encore les acteurs principaux de la saga Taxi (Bernard Farcy, Edouard Montoute et Frédéric Diefenthal). On y retrouve aussi des couples comme Simone Signoret et Yves Montant ou également Vincent Cassel et Monica Bellucci.</p>
  <script>
	var margin = {top: 30, right: 60, bottom: 40, left: 60},
		width = 960,
		height = 3600;

    const svg2 = d3.select("#nodelink2").append("svg")
      .attr("width", width)
      .attr("height", height)
      .append("g");

    graph = {{ graph|tojson }};
	
	var x = d3.scaleLinear()
      .domain( d3.extent(graph.nodes, d => d.x))
      .range([ margin.left, width - margin.right ]);
	  
	var y = d3.scaleLinear()
      .domain( d3.extent(graph.nodes, d => d.y))
      .range([ height - margin.bottom, 0 + margin.top ]);

    var link = svg2.append("g").selectAll('.link')
      .data(graph.links)
      .enter().append("line")
        .attr("class", "link")
		.attr("x1", d => x(d.source.x))
        .attr("y1", d => y(d.source.y))
        .attr("x2", d => x(d.target.x))
        .attr("y2", d => y(d.target.y));

    var node = svg2.selectAll(".node")
      .data(graph.nodes)
      .enter().append("g")
        .attr("class", "node")
		.attr("transform", d => "translate(" + x(d.x) + "," + y(d.y) + ")" );

    node.append("circle")
      .attr("r", d => 5)
      .attr("stroke", "#FFF")
      .attr("fill", "#FFF")

    node.append("text")
	  .attr("class", "nodeText")
      .attr("dy", d => -5)
	  .style("fill","#fff")
	  .style("stroke","#000")
	  .style("stroke-width","0.5px")
      .attr("text-anchor", "middle")
      .attr("font-family", "serif")
      .attr("font-weight", "bold")
      .attr("font-size", "15px")
      .text(d => d.id);
	
  </script>

  {% endblock %}
