<div style="font-size: small;
    width: 100px;
	position: absolute;
	margin: 140px 0px 0px 20px;">
	<p><a style="text-decoration: none;" href="/"><i>Accueil</i></a></p>
	<p><a style="text-decoration: none;" href="/films/François Cluzet"><i>Les acteurs</i></a></p>
	<p><a style="text-decoration: none;"  href="/runtime-scatter"><i>Durée des films</i></a></p>
	<p><a style="text-decoration: none;" href="/nbfilms-scatter"><i>Nombre de films</i></a></p>
	<p><a style="text-decoration: none;" href="/actors-heatmap/20"><i>Heatmap</i></a></p>
	<p><a style="text-decoration: none;" href="/communities"><i>Les communautés</i></a></p>
</div>
